/* HTML5-specific CSS setup */
article,aside,figure,footer,header,hgroup,nav,section{display:block}

html {
}

body {
    font: normal 1em/1.5 Arial,Helvetica,sans-serif;
    /*background: #2f2f2f;*/
    color:#333;
    /*background-image: url('black_thread.png');*/
    /*background-repeat: repeat;*/
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
    border-bottom:1px dotted;
    color:#296894;
}

a, h1, h2, h3, h4, h5 {
    color:#296894;
}

a:hover {
    border-bottom:1px solid;
    /*color: #E8CB58;*/
    color: #B0255D;
    /*color:#E74D35;*/
}

ul {
    list-style-type: disc;
    margin-left: 1.5em;
    padding: 0;
}

h1 {
    font-size:1.3em;
    padding-top: 0.4em;
}
h2 {
    font-size:1.1em;
}
h3 {
    font-size:1.0em;
}
h4 {
    font-size:0.9em;
}
h5 {
    font-size:0.8em;
}
h6 {
    font-size:0.7em;
}

.c2 {
    width: 50%;
    float: left;
}

.endnotice {
    text-align: center;
    clear: both;
}

.center {
    text-align: center;
}

#wrapper {
    padding:0;
    margin:0 auto;
    width:90%;
    max-width: 80em;
    background: #fff;
    margin-bottom: 2em;
}

#content {
    padding: 1em;
    overflow: auto;
}

#content .split {
    width: 50%;
    height: 100%;
    float: left;
    display: block;
}

#content .games .split {
    height: 27em;
}

#header {
    margin: 0;
    padding: 0;
    /*height:296px;*/
    /*background: #2f2f2f;*/
    background: #444;
}

/* hide text display in banner image instead */
#header .text {
    display:none;
    text-indent: -3000px; /*sends the text off-screen*/
    white-space: nowrap;  /*because only the first line is indented*/
}

#banner {
    width:473px;
    height:296px;
    background-image:url('head.png');
    float: left;
    margin-left: 2em;
}

#header nav {
    font-family: arial, helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
    font-size: 1.3em;
    color: #fff;
}

#header nav ul {
    margin: 0 auto;
    padding: 0;
    width: 25em;
    height: 2.2em;
}

#header nav li {
    display:block;
}

#header nav li a {
    float: left;
    padding: 0.35em 0.5em;
}

#header nav .active {
    /*background: #FEFFED;*/
}

#header nav a { border: none; }
#header nav a:link { color: #fff; }
#header nav a:visited { color: #fff; }
#header nav a:hover { color: #999; }

li time {
    float:right;
    font-size:small;
    margin:2px 0 0 0;
}

article header, section header {
    color:#222;
    margin:0;
    padding:0;
    /*font-family: georgia, arial, sans-serif;*/
}

article nav {
    text-align: center;
}

article header time {
    display: block;
    float: left;
    padding: 0.6em 1em 0 0;
}

article header time span {
    color: #999;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

article header time span.month {
    font-size: 0.8em;
}
article header time span.day {
    font-size: 1.7em;
    line-height: 0.8em;
}
article header time span.year {
    font-size: 0.8em;
}

article header h1 {
    margin: 1em 0 0;
    padding-top: 0.5em;
}

article header .category,
article header .project {
    color: #999;
    font-size: 0.9em;
    margin: 0.3em 0 0.5em 0;
}

article header .project .name {
    color: #444;
    /*border-bottom: 1px solid;*/
}

article header .repository {
    color: #222;
    font: normal 0.9em Consolas,monospace;
    /*float: right;*/
    /*display: block;*/
    /*background: #FACFE0;*/
    margin: 0.3em 0 0.5em
}

article header h2 {
    /*font-size: 0.8em;*/
    /*float: right;*/
    /*margin-top: -0.7em;*/
}

article .tags {
    margin: 0.7em;
}

article .read_more {
    margin: 0.5em 0 0.8em 0;
}

/*.first {*/
    /*color: #FFF;*/
    /*background: #000;*/
/*}*/

/* code formatting */
pre {
    overflow: auto;
    padding: 1em;
    margin: 0;
}

pre, code {
    background: none repeat scroll 0 0 #f0f0f0;
    font: normal 0.9em Consolas,monospace;
}

code {
    color: #222;
}

/*pre, code { background-color: #ffffcc }*/
/*code { background: #f0f0f0; }*/

.c { color: #60a0b0; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */

code .Keyword { color: #4565b6; }
code .Comment { color: #7e7e7e; }
code .Operator { color: #E01B6a; }
code .DataType { color: #844FAD; }
code .Function { color: #b68846; }
code .String { color: #4dac6c; }
code .Char { color: #ac924d; }
code .BaseN { color: #ac4d55; }
code .Variable { color: #ad68ac; }

blockquote {
    padding: 0.2em 0.5em 0.2em 1em;
    margin: 0;
    background: none repeat scroll 0 0 #FFF8E7;
}

.gamedownloads {
    font-size: 1.3em;
    clear: both;
}

.gamedownloads h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.gamedownloads ul,
.gamescreens ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gamedownloads li,
.gamescreens li {
    display: inline;
    margin-right: 0.5em;
}

.games {
    padding-bottom: 2em;
}

.games ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Remove borders around image */
a.img {
    text-decoration: none;
    border: 0 none;
}

footer {
    text-align:center;
    clear:both;
    font-size: 0.9em;
}

footer .upper {
    padding: 0 0 1em 0;
    min-height: 10em;
    overflow: hidden;
    /*background: #fff;*/
    /*border-top: thin solid #e1e1e1;*/
    /*border-bottom: thin solid #e1e1e1;*/
    background: #444;
}

footer .upper a {
    color: #ddd;
    border: none;
}

footer .upper .center {
    /*width: 50em;*/
    /*width: 60%;*/
    /*margin: 0 auto;*/
    margin: 0 auto;
    padding: 0;
    width: 40em;
}

footer nav {
    float: left;
    display: inline;
    text-align: left;
    padding: 1em;

    /*width: 20%;*/
    /*height: 100%;*/
    /*float: left;*/
    /*display: block;*/
}

footer nav h1 {
    font-size: 1.0em;
    font-weight: none;
    padding: 0;
    margin-bottom: 0.5em;
    border-bottom: thin solid #888;
}

footer nav h1 a {
    border: none;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav li {
    list-style-type: none;
    margin-right: 1em;
}

footer .lower {
    padding: 1em 1em 1.3em 1em;
    /*margin: 0 0 2em 0;*/
    margin: 0;
    overflow: hidden;
    background: #FFF;
}

