---
layout: page
title: Hello World!
---

<h1>Hello!</h1>

<p>I'm Jonas, a programmer of sorts and this is my site where I place my projects, games and I occassionally write about stuff.</p>

{% assign posts = site.posts %}
{% assign listing_limit = 2 %}
{% include short_posts.html %}

<nav>
  <h1>More Posts</h2>
  <ul>
  {% for post in site.posts limit: 5 offset:2 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</nav>

<nav>
  <h1>Featured Posts</h1>
  {% featured_posts %}
</nav>

<h2><a href="/archive">Even more posts</a></h2>

<nav>
  <h1><a href="/games">Games</a></h1>
  <ul>
  {% for game in site.games %}
    <li><a href="{{ game.link }}">{{ game.title }}</a></li>
  {% endfor %}
  </ul>
</nav>

<nav>
  <h1>Recommended</h1>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/books">Book recommendations</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</nav>

