---
layout: page
title: Hello World!
---

<h1>Hello!</h1>

<p>I'm Jonas, a programmer of sorts and this is my site where I place my projects, games and I occassionally write about stuff.</p>

{% assign posts = site.posts %}
{% assign listing_limit = 2 %}
{% include short_posts.html %}

<div class="c2">
  <nav>
    <h1>More Posts</h2>
    <ul>
    {% for post in site.posts limit: 5 offset:2 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </nav>

  <nav>
    <h1>Featured Posts</h1>
    {% featured_posts %}
  </nav>

  {% include recommended.html %}
</div>

<div class="c2">
  <nav>
    <h1><a href="/projects">Projects</a></h1>
    {% project_list %}
  </nav>

  <nav>
    <h1><a href="/games">Games</a></h1>
    {% games_list %}
  </nav>
</div>

<div class="endnotice">
  <h2><a href="/archive">Even more posts</a></h2>
</div>

