<footer>
    <div class=upper>
        <nav>
            <ul class=footer_nav>
                <h1><a href="/blog">Blog</a></h1>
                <li><a href="/feed">Subscribe</a></li>
                <li><a href="/archive">Archive</a></li>

            </ul>
            <ul class=footer_nav>
                <h1><a href="/games">Games</a></h1>
                <li><a href="/games/sat-e">Sat-E</a></li>
                <li><a href="/games/grand_thief_arto">Grand Thief Arto</a></li>
                <li><a href="/games/my_minions">My Minions</a></li>
                <li><a href="/games/wheres_teddy">Where's Teddy?</a></li>
            </ul>
            <ul class=footer_nav>
                <h1><a href="/projects">Projects</a></h1>
                <li><a href="http://www.github.com/treeman/7days">7days</a></li>
                <li><a href="http://www.github.com/treeman/Digital-konstruktion">MARC</a></li>
                <li><a href="http://www.github.com/treeman/Treebot">Treebot</a></li>
            </ul>
            <ul class=footer_nav>
                <h1><a href="/">Madeoftree</a></h1>
                <li><a href="/about">About</a></li>
                <li><a href="mailto:tradet.h@gmail.com">Contact</a></li>
                <li><a href="/books">Book recommendations</a></li>
                <li><a href="/sitemap">Sitemap</a></li>

            </ul>
        </nav>
    </div>

    <div class=lower>
        &copy; 2009 - {{ 'now' | date: "%Y" }} <a href="/about">Jonas Hietala</a>
    </div>

</footer>

