<header id="header">

    <hgroup class="text">
        <h1>Made of Tree</h1>
        <h2>Making web 2.0 seem like 1.0!</h2>
    </hgroup>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="http://github.com/treeman/">Code</a></li>
        </ul>
    </nav>

</header>

