
<article>
    {% include post_header.html %}

    {% if content %}
        {{ content }}
    {% else %}
        {{ post.content }}
    {% endif %}

    {% if post.tags %}
      {% for tag in post.tags %}
        {% if forloop.first %}<div class="tags">Tagged as{% endif %}
            <a href="{{ tag | link_tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% if forloop.last %}</div>{% endif %}
      {% endfor %}
    {% endif %}

    {% if has_nav %}
      <nav>
        {% if post.previous.url %}
            &laquo;&nbsp;
            <a href="{{ post.previous.url }}" rel="previous" title="{{ post.previous.title }}">
                {{ post.previous.title }}
            </a>
            {% if post.next.url %}
               |
            {% endif %}
        {% endif %}

        {% if post.next.url %}
            <a href="{{ post.next.url }}" rel="next" title="{{ post.next.title }}">
                {{ post.next.title }}
            </a>
            &nbsp;&raquo;
        {% endif %}
      </nav>
    {% endif %}
</article>

