---
layout: default
---

<article>

  <header>

  <nav class=gamedownloads>
    <ul>
    {% for file in page.downloads %}
      <li>
        <a href="{{ file.link }}" rel="bookmark">{{ file.descr }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>

    {% if page.repository %}
      <div class="repository">
        $ git clone {{ page.repository }}
      </div>
    {% endif %}

    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>
      <span class="month">{{ page.date | date: "%b" | upcase }}</span>
      <span class="day">{{ page.date | date: "%d" }}</span>
      <span class="year">{{ page.date | date: "%Y" }}</span>
    </time>
    <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>

    {% if page.project %}
      <div class="project">
        Made for
        {% if page.project.link %}
          <a href="{{ page.project.link }}">{{ page.project.name }}</a>.
        {% else %}
          <span class="name">{{ page.project.name }}</span>.
        {% endif %}
      </div>
    {% endif %}
  </header>

  {{ content }}

  <nav class=gamescreens>
    <ul>
    {% for file in page.screenshots %}
      <li>
        <a href="{{ file.link }}" rel="bookmark" title="{{ page.title }}" class="img">
          <img src="{{ file.link }}" title="{{ page.title }}: {{ file.descr }}" width="260"/>
        </a>
      </li>
    {% endfor %}
    </ul>
  </nav>

</article>

